.searchbar {
  @include flex-row-center;
  position: relative;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  //   background-color: black;
  &__icon {
    display: flex;
    background-color: #f1a84c;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    .MagnifyingGlassIcon {
      width: 16px;
      color: white;
    }
  }
  &__frame {
    @include flex-row-between;
    min-height: 48px;
    width: 450px;
    border: 1px solid $border-color-light;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 8px;
    box-sizing: border-box;
    font-family: VazirMedium;
    color: #454545;
    &__guests{
      all: unset;
      @include flex-row-center;
      padding-left: 16px;
      padding-right: 16px;
      box-sizing: border-box;
      min-width: 30%;
      display: flex;
      justify-content: center;
      border-right: 1px solid $border-color-light;
      cursor: pointer;
    }
    &__date{
      all: unset;
      box-sizing: border-box;
      min-width: 30%;
      display: flex;
      justify-content: center;
      border-right: 1px solid $border-color-light;
      cursor: pointer;
    }
    &__destination{
      all: unset;
      box-sizing: border-box;
      min-width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      p{
        margin: 0px;
      }
    }
  }
}
