//---------colors --------------------------------------------------------------
$border-color-light: #dddddd;
$border-color-dark: #969FA7;
$primary-color: #f1a84c;
$primary-color-light: #f4d6b0;
$primary-black: #222222;
//---------mixins --------------------------------------------------------------
@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-row-center-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin flex-col-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}


::-webkit-scrollbar {
  width: 8px;
  &-thumb {
    background: $border-color-dark;
    border-radius: 10px;
  }
}